.library {
  margin: 15px 25px;
}

.library__books {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-row-container > .card {
  margin-top: 14px !important;
  margin-bottom: 54px !important;
  width: 230px !important;
  height: 300px !important;
}

.flex-row-container {
  background: rgb(245, 241, 241);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.flex-row-container > .flex-row-item {
  flex-grow: 1;
  flex: 1 1 30%;
  height: 400px;
}

.flex-row-item {
  background-color: #fff4e6;
  border: 1px solid #f76707;
  /* text-align: center; */
}

.ui .card {
  align-items: center;
  justify-content: center;
  -ms-align-items: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
